.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Prend toute la hauteur de la vue */
  background-image: url('../../assets/fondhome.jpg'); /* Image de fond */
  background-size: cover;
  background-position: center;
}

.description {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 150px; /* Ajustez la largeur selon vos besoins */
  margin-bottom: 20px; /* Espace entre le logo et le titre */
}

.home-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white; /* Couleur du texte */
}

.home-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: white; /* Couleur du texte */
}

.home-container p {
  font-size: 1.2em;
  color: white; /* Couleur du texte */
}